[user]
     name = Benjamin Weigang
     email = Benjamin.Weigang@mailbox.org
[core]
	editor = nvim
	excludesfile = /Users/ben/.gitignore
    ; excludesfile = $HOME/.gitignore_global
[alias]
     st = status
     ci = commit
     ca = commit -a
     br = branch
     co = checkout
     df = diff
     lg = log -p
     logv = log --name-status
     ls = ls-files
     pu = push -u origin master
     serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
     up = "!git remote update -p; git merge --ff-only @{u}"
     mg = merge --no-ff
[color]
    ui = true
[push]
    default = tracking
[credential]
	helper = osxkeychain
