[user]
    name = Benjamin Weigang
    email = benjamin.weigang@mailbox.org
[core]
	editor = nvim
    pager = delta
	excludesfile = /Users/ben/.gitignore
    ; excludesfile = $HOME/.gitignore_global
[interactive]
    diffFilter = delta --color-only
[delta]
    syntax-theme = Nord
    side-by-side = true
[diff]
    colorMoved = default
[alias]
    st = status
    ci = commit
    ca = commit -a
    br = branch
    co = checkout
    df = diff
    lg = log -p
    logv = log --name-status
    logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = ls-files
    pu = push -u origin master
    serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
    mg = merge --no-ff
    cleanup = "!git branch --merged | egrep -v '(^\\*|master|main|dev)' | xargs -n 1 -r git branch -d && git remote prune origin"
[color]
    ui = true
[push]
    default = tracking
[credential]
	helper = osxkeychain
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[init]
	defaultBranch = main
