snippet preambel "Standart document preambel"
\documentclass[12pt]{article}

${1:packages}

\begin{document}

${0}

\end{document}
endsnippet

snippet %%% "Insert comment line" b
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
endsnippet

snippet req "Reference an equation"
equation \ref{eq:${1:label}}${0}
endsnippet

snippet bv "Bold vector" w
\bvec{${1}}${0}
endsnippet

snippet qu "Quotation marks"
\`\`${1}''${0}
endsnippet
