snippet %%% "Insert comment line" b
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
endsnippet

snippet req "Reference an equation"
equation \ref{eq:${1:label}}${0}
endsnippet
